.drawio-viewer {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
}

.content main:has(iframe) {
    max-width:fit-content;
    text-align: center;
}

.content main:has(h2[id='4-Архитектура']) {
    max-width:fit-content;
}